<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if request.user.is_authenticated %}
    {% if request.user.member.nickname %}

        Привет, {{ request.user.username }}. Добро пожаловать!.
        Переходите к чатам:
        <a href="/"> click this</a>
    {% else %}
        Переходите к форме дополнительной информации:
        <a href="/{{ request.user.id }}/new"> click this</a>
    {% endif %}
{% endif %}
</body>
</html>